<div (mouseleave)="handleMouseLeave()" id="ghost"></div>

<a (mouseenter)="handleMouseEnter()" href="https://twitter.com/uruharushia" target="_blank">
  <img class="baloon b00" src="/assets/skull.png" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://www.youtube.com/channel/UCl_gCybOJRIgOXw6Qb4qJzQ" target="_blank">
  <img class="baloon b00" [class.b01]="hover_event" src="/assets/heart.png" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://marshmallow-qa.com/uruharushia" target="_blank">
  <img class="baloon b00" [class.b02]="hover_event" src="/assets/butterfly.png" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://space.bilibili.com/443300418/" target="_blank">
  <img class="baloon b00" [class.b03]="hover_event" src="/assets/piyoko.png" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://twitter.com/yasu00kamiki">
  <img class="b00" [class.b04]="hover_event" src="/assets/tako.png" alt="background_element">
</a>