<section>
  <h1>Elf<br>Princess<br>Elara</h1>

  <app-elara-menu></app-elara-menu>
  
  <div id="bointuber__container">

    <a class="arrow__container" (click)="onClick('rushia')">
      <div class="arrow">
          <div class="bite arrow-left-bite"></div>
      </div>
    </a>

    <app-elara></app-elara>

    <a class="arrow__container" (click)="onClick('amano')">
      <div class="arrow">
          <div class="bite arrow-right-bite"></div>
      </div>
    </a>
  
  </div>

  <div id="responsive__arrows">

    <a id="arrow__container" (click)="onClick('rushia')">
      <div class="arrow">
          <div class="bite arrow-left-bite"></div>
      </div>
    </a>

    <a id="arrow__container" (click)="onClick('amano')">
      <div class="arrow">
          <div class="bite arrow-right-bite"></div>
      </div>
    </a>

  </div>
</section>