<div (mouseleave)="handleMouseLeave()" id="ghost"></div>

<a (mouseenter)="handleMouseEnter()" href="https://twitter.com/HimeHajime_VSJ" target="_blank">
  <img class="baloon b00" src="/assets/robot.png" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://www.youtube.com/channel/UCRfz2yOn8C7Jg5zq4Xi67-Q" target="_blank">
  <img class="baloon b00" [class.b01]="hover_event" src="/assets/dragon.jpeg" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://www.twitch.tv/hajime" target="_blank">
  <img class="baloon b00" [class.b02]="hover_event" src="/assets/alien.jpeg" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://discord.gg/krqPTXwB" target="_blank">
  <img class="baloon b00" [class.b03]="hover_event" src="/assets/boomer.jpeg" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()">
  <img class="b00" [class.b04]="hover_event" src="/assets/tako.png" alt="background_element">
</a>