<div (mouseleave)="handleMouseLeave()" id="ghost"></div>

<a (mouseenter)="handleMouseEnter()" href="https://twitter.com/amanene_kawaii" target="_blank">
  <img class="baloon b00" src="/assets/cloud.png" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://www.youtube.com/channel/UCu1INzefw3R7M9-3QEHYmMQ" target="_blank">
  <img class="baloon b00" [class.b01]="hover_event" src="/assets/angel.jpeg" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://production-kawaii.com/en/home-2/" target="_blank">
  <img class="baloon b00" [class.b02]="hover_event" src="/assets/kawaii_logo.webp" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://twitter.com/yukiunag1" target="_blank">
  <img class="b00" [class.b03]="hover_event" src="/assets/tako.png" alt="background_element">
</a>