<section>
  <h1>Hime<br>Hajime</h1>

  <app-hajime-menu></app-hajime-menu>
  
  <div id="bointuber__container">

    <a class="arrow__container" (click)="onClick('rushia')">
      <div class="arrow">
          <div class="bite arrow-left-bite"></div>
      </div>
    </a>

    <app-hajime></app-hajime>

    <a class="arrow__container" (click)="onClick('ichika')">
      <div class="arrow">
          <div class="bite arrow-right-bite"></div>
      </div>
    </a>
  
  </div>

  <div id="responsive__arrows">

    <a id="arrow__container" (click)="onClick('rushia')">
      <div class="arrow">
          <div class="bite arrow-left-bite"></div>
      </div>
    </a>

    <a id="arrow__container" (click)="onClick('ichika')">
      <div class="arrow">
          <div class="bite arrow-right-bite"></div>
      </div>
    </a>

  </div>
  
</section>