<div (mouseleave)="handleMouseLeave()" id="ghost"></div>

<a (mouseenter)="handleMouseEnter()" href="https://twitter.com/yozoramel" target="_blank">
  <img class="baloon b00" src="/assets/blood.png" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://www.youtube.com/channel/UCD8HOxPs4Xvsm8H0ZxXGiBw" target="_blank">
  <img class="baloon b00" [class.b01]="hover_event" src="/assets/bat-wings.png" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://space.bilibili.com/389856447/" target="_blank">
  <img class="baloon b00" [class.b02]="hover_event" src="/assets/ghost.png" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://reddit.com/u/Yozora_Mel" target="_blank">
  <img class="baloon b00" [class.b03]="hover_event" src="/assets/star.png" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://twitter.com/ayamy_garubinu/status/1322502328189030402" target="_blank">
  <img class="b00" [class.b04]="hover_event" src="/assets/tako.png" alt="background_element">
</a>