<div (mouseleave)="handleMouseLeave()" id="ghost"></div>

<a (mouseenter)="handleMouseEnter()" href="http://twitter.com/elaravtuber" target="_blank">
  <img class="baloon b00" src="/assets/princess.jpeg" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="http://twitch.tv/elaravtuber" target="_blank">
  <img class="baloon b00" [class.b01]="hover_event" src="/assets/moon.png" alt="background_element">
<a (mouseenter)="handleMouseEnter()" href="https://www.reddit.com/r/VirtualYoutubers/comments/s3u0l4/stop_right_there_there_has_been_reported_crime_of/" target="_blank">
  <img class="b00" [class.b02]="hover_event" src="/assets/tako.png" alt="background_element">
</a>