<section>
    <div class="arrow__container" (click)="onClick('ichika')">
        <div class="arrow">
            <div class="bite arrow-left-bite"></div>
        </div>
    </div>

    <div id="card"></div>

    <p>
        author: <a href="https://www.reddit.com/user/rv_conspiracy">[ u/rv_conspiracy ]</a>
        <br><br>
        <!--
        urmom: <a href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi0.wp.com%2Fi.kym-cdn.com%2Fphotos%2Fimages%2Fnewsfeed%2F002%2F111%2F316%2Fc57.gif&f=1&nofb=1">[ gay ]</a>
        -->
    </p>
</section>
