section {
    position: relative;
    background-color: lightcoral;
    background-image: linear-gradient(to bottom right, lightblue, pink);
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

#card {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 33%;
    width: 33%;
    background-color: rgba($color: rgb(59, 59, 59), $alpha: 0.1);
    border: 3px solid rgba($color: rgb(0, 0, 0), $alpha: 0.1);
    border-radius: 3%;
}

p {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.arrow__container {
    height: 60px;
    width: 60px;
    padding-top: 30px;
    padding-left: 40px;
}
.arrow {
    height: 50px;
    width: 50px;
    background-color: #a5aeb8;
    border: 7px solid rgb(151, 151, 151);
    border-radius: 12%;
    transform: rotate(45deg);
    cursor: pointer;
    transition: height 0.1s, width 0.1s;
}
.arrow:hover {
    height: 60px;
    width: 60px;
}

.bite {
    background-color: lightblue;
    border-radius: 10%;
    height: 80%;
    width: 80%;
}

.arrow-left-bite {
    transform: rotate(0deg) translate(46%, -22%);
}




   
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 892px) {
    #card {
      width: 66%;
    }
  }