#b00 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border: 2px solid rgba(167, 69, 90, 0.493);
    border-radius: 50%;
    position: absolute;
    bottom: 1%;
    right: 2%;
    width: 7%;
}