<section>
  <h1>天<br>野<br>寧<br>々</h1>

  <app-amano-menu></app-amano-menu>

  <div id="bointuber__container">

    <a class="arrow__container" (click)="onClick('elara')">
      <div class="arrow">
          <div class="bite arrow-left-bite"></div>
      </div>
    </a>

    <app-amano></app-amano>

    <a class="arrow__container" (click)="onClick('hajime')">
      <div class="arrow">
          <div class="bite arrow-right-bite"></div>
      </div>
    </a>
  
  </div>

  <div id="responsive__arrows">

    <a id="arrow__container" (click)="onClick('elara')">
      <div class="arrow">
          <div class="bite arrow-left-bite"></div>
      </div>
    </a>

    <a id="arrow__container" (click)="onClick('hajime')">
      <div class="arrow">
          <div class="bite arrow-right-bite"></div>
      </div>
    </a>

  </div>

</section>