section {
    background-color: rgb(162, 240, 240);
    height: 100vh;
    width: 100vw;
    margin: 0px;

    h1 {
        position: absolute;
        font-size: 3em;
        left: 14%;
        top: 5%;
        color: rgb(66, 164, 230);
        margin: 0%;
        z-index: 0;
    }
}