<div (mouseleave)="handleMouseLeave()" id="ghost"></div>

<a (mouseenter)="handleMouseEnter()" href="https://twitter.com/tsukumosana" target="_blank">
  <img class="baloon b00" src="/assets/earth-planet.png" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://www.youtube.com/channel/UCsUj0dszADCGbF3gNrQEuSQ" target="_blank">
  <img class="baloon b00" [class.b01]="hover_event" src="/assets/ringed-planet.png" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://en.hololive.tv/portfolio/items/tsukumo-sana" target="_blank">
  <img class="baloon b00" [class.b02]="hover_event" src="/assets/worm.png" alt="background_element">
</a>
<a (mouseenter)="handleMouseEnter()" href="https://www.deviantart.com/theonlyshoe/art/Tsukumo-Sana-889678322" target="_blank">
  <img class="b00" [class.b03]="hover_event" src="/assets/tako.png" alt="background_element">
</a>