section {
    background-color: rgb(255, 248, 148);
    height: 100vh;
    width: 100vw;
    margin: 0px;

    h1 {
        position: absolute;
        font-size: 3em;
        left: 14%;
        top: 5%;
        color: rgb(247, 121, 37);
        text-shadow: 5px 0px 0px rgb(36, 15, 4);
        margin: 0%;
        z-index: 0;
    }
}




#bointuber__container {
    display: flex;
    width: 50%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.arrow__container {
    height: 60px;
    width: 60px;
    align-self: flex-end;
}
.arrow {
    height: 50px;
    width: 50px;
    background-color: rgb(247, 121, 37);
    border: 7px solid rgb(36, 15, 4);
    border-radius: 12%;
    transform: rotate(45deg);
    cursor: pointer;
    transition: height 0.1s, width 0.1s;
}
.arrow:hover {
    height: 60px;
    width: 60px;
}

.bite {
    background-color: rgb(255, 248, 148);
    border-radius: 10%;
    height: 80%;
    width: 80%;
}

.arrow-left-bite {
    transform: rotate(0deg) translate(46%, -22%);
}
.arrow-right-bite {
    transform: rotate(0deg) translate(-22%, 46%);
}



#responsive__arrows {
    display: none;

    position: absolute;
    left: 7%;
    bottom: 5%;

    width: 85%;
    height: 60px;

    flex-wrap: wrap;
    justify-content: space-between;
}



@media screen and (max-width: 850px) {
    #responsive__arrows {
        display: flex;
    }

    #bointuber__container .arrow__container {
        display: none;
    }
}
