.square__outer {
    height: 393px;
    width: 200px;
    cursor: grab;
}
@media screen and (max-width: 293px) {
    .square__outer {
        height: 320px;
        width: 219px;
    }
  }
.square__inter {
    position: relative;
    border: 5px solid rgba(167, 69, 90, 0.493);
    border-radius: 50%;

    background-color: transparent;
    background-image: url("/assets/elara.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    height: 100%;
    width: 100%;
}

.pic {
    position: absolute;
    top: 0%;
    left: 0%;

    background-color: transparent;
    background-image: url("/assets/elara.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;

    transition: top 0.2s, transform 0.3s;
}

.rubor__right {
    visibility: hidden;

    position: absolute;
    top: 35%;
    left: 38.5%;
    background-color: transparent;
    box-shadow: 0px 30px 15px red;
    opacity: 0.9;
    border-radius: 50%;
    height: 2%;
    width: 24%;
    transition: visibility 1s;
}
.rubor {
    visibility: visible;
}

.q1 {
    position: absolute;
    top: 75%;
    left: 25%;

    background-color: transparent;
    height: 25%;
    width: 25%;
}
.move__q1 {
    top: -2.5%;
}
.q2 {
    position: absolute;
    top: 75%;
    left: 50%;
    
    background-color: transparent;
    height: 25%;
    width: 25%;
}
.move__q2 {
    top: -2.5%;
}
.q3 {
    position: absolute;
    top: 75%;
    left: 0%;
    
    background-color: transparent;
    height: 25%;
    width: 25%;
}
.move__q3 {
    top: -2.5%;
    transform: skewY(9deg);
}
.q4 {
    position: absolute;
    top: 75%;
    left: 75%;
    
    background-color: transparent;
    height: 25%;
    width: 25%;
}
.move__q4 {
    top: -2.5%;
    transform: skewY(-9deg);
}
.q5 {
    position: absolute;
    top: 50%;
    left: 25%;

    background-color: transparent;
    height: 25%;
    width: 25%;
}
.move__q5 {
    top: -3%;
    transform: scaleX(0.9);
}
.q6 {
    position: absolute;
    top: 50%;
    left: 50%;
    
    background-color: transparent;
    height: 25%;
    width: 25%;
}
.move__q6 {
    top: -3%;
    transform: scaleX(0.9);
}
.q7 {
    position: absolute;
    top: 62%;
    left: 0%;
    
    background-color: transparent;
    height: 13%;
    width: 25%;
}
.move__q7 {
    transform: scaleX(1.06);
}
.q8 {
    position: absolute;
    top: 62%;
    left: 75%;
    
    background-color: transparent;
    height: 13%;
    width: 25%;
}
.move__q8 {
    transform: scaleX(1.06);
}